In [3]:
import numpy as np
import pandas as pd

df = pd.read_csv('PremierLeague14.csv', dtype={'Date': str })

In [4]:
df = df[['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG'] ]
df.tail(50)

         Date        HomeTeam        AwayTeam  FTHG  FTAG
330  25/04/15       Newcastle         Swansea     2     3
331  25/04/15             QPR        West Ham     0     0
332  25/04/15     Southampton       Tottenham     2     2
333  25/04/15           Stoke      Sunderland     1     1
334  25/04/15       West Brom       Liverpool     0     0
335  26/04/15         Arsenal         Chelsea     0     0
336  26/04/15         Everton      Man United     3     0
337  28/04/15            Hull       Liverpool     1     0
338  29/04/15       Leicester         Chelsea     1     3
339  02/05/15     Aston Villa         Everton     3     2
340  02/05/15       Leicester       Newcastle     3     0
341  02/05/15       Liverpool             QPR     2     1
342  02/05/15      Man United       West Brom     0     1
343  02/05/15      Sunderland     Southampton     2     1
344  02/05/15         Swansea           Stoke     2     0
345  02/05/15        West Ham         Burnley     1     0
346  03/05/15         Chelsea  Crystal Palace     1     0
347  03/05/15       Tottenham        Man City     0     1
348  04/05/15            Hull         Arsenal     1     3
349  09/05/15     Aston Villa        West Ham     1     0
350  09/05/15  Crystal Palace      Man United     1     2
351  09/05/15         Everton      Sunderland     0     2
352  09/05/15            Hull         Burnley     0     1
353  09/05/15       Leicester     Southampton     2     0
354  09/05/15       Newcastle       West Brom     1     1
355  09/05/15           Stoke       Tottenham     3     0
356  10/05/15         Chelsea       Liverpool     1     1
357  10/05/15        Man City             QPR     6     0
358  11/05/15         Arsenal         Swansea     0     1
359  16/05/15         Burnley           Stoke     0     0
360  16/05/15       Liverpool  Crystal Palace     1     3
361  16/05/15             QPR       Newcastle     2     1
362  16/05/15     Southampton     Aston Villa     6     1
363  16/05/15      Sunderland       Leicester     0     0
364  16/05/15       Tottenham            Hull     2     0
365  16/05/15        West Ham         Everton     1     2
366  17/05/15      Man United         Arsenal     1     1
367  17/05/15         Swansea        Man City     2     4
368  18/05/15       West Brom         Chelsea     3     0
369  20/05/15         Arsenal      Sunderland     0     0
370  24/05/15         Arsenal       West Brom     4     1
371  24/05/15     Aston Villa         Burnley     0     1
372  24/05/15         Chelsea      Sunderland     3     1
373  24/05/15  Crystal Palace         Swansea     1     0
374  24/05/15         Everton       Tottenham     0     1
375  24/05/15            Hull      Man United     0     0
376  24/05/15       Leicester             QPR     5     1
377  24/05/15        Man City     Southampton     2     0
378  24/05/15       Newcastle        West Ham     2     0
379  24/05/15           Stoke       Liverpool     6     1

In [5]:
date = "24/05/15"
day = date[:2]
month = date[3:5]
year = '20'+date[6:]
newdate = year + '-' + month + '-' + day
print newdate

2015-05-24

In [6]:
def reformat_date(date_string) :
    day = date_string[:2]
    month = date_string[3:5]
    year = "20"+ date_string[6:]
    newdate = year + "-" + month + '-' + day
    return newdate

In [7]:
df['NewDate'] = df['Date'].apply(reformat_date)
df.head()

       Date    HomeTeam        AwayTeam  FTHG  FTAG     NewDate
0  16/08/14     Arsenal  Crystal Palace     2     1  2014-08-16
1  16/08/14   Leicester         Everton     2     2  2014-08-16
2  16/08/14  Man United         Swansea     1     2  2014-08-16
3  16/08/14         QPR            Hull     0     1  2014-08-16
4  16/08/14       Stoke     Aston Villa     0     1  2014-08-16

In [8]:
df.NewDate = pd.to_datetime(df.NewDate)
df.tail(50)

         Date        HomeTeam        AwayTeam  FTHG  FTAG    NewDate
330  25/04/15       Newcastle         Swansea     2     3 2015-04-25
331  25/04/15             QPR        West Ham     0     0 2015-04-25
332  25/04/15     Southampton       Tottenham     2     2 2015-04-25
333  25/04/15           Stoke      Sunderland     1     1 2015-04-25
334  25/04/15       West Brom       Liverpool     0     0 2015-04-25
335  26/04/15         Arsenal         Chelsea     0     0 2015-04-26
336  26/04/15         Everton      Man United     3     0 2015-04-26
337  28/04/15            Hull       Liverpool     1     0 2015-04-28
338  29/04/15       Leicester         Chelsea     1     3 2015-04-29
339  02/05/15     Aston Villa         Everton     3     2 2015-05-02
340  02/05/15       Leicester       Newcastle     3     0 2015-05-02
341  02/05/15       Liverpool             QPR     2     1 2015-05-02
342  02/05/15      Man United       West Brom     0     1 2015-05-02
343  02/05/15      Sunderland     Southampton     2     1 2015-05-02
344  02/05/15         Swansea           Stoke     2     0 2015-05-02
345  02/05/15        West Ham         Burnley     1     0 2015-05-02
346  03/05/15         Chelsea  Crystal Palace     1     0 2015-05-03
347  03/05/15       Tottenham        Man City     0     1 2015-05-03
348  04/05/15            Hull         Arsenal     1     3 2015-05-04
349  09/05/15     Aston Villa        West Ham     1     0 2015-05-09
350  09/05/15  Crystal Palace      Man United     1     2 2015-05-09
351  09/05/15         Everton      Sunderland     0     2 2015-05-09
352  09/05/15            Hull         Burnley     0     1 2015-05-09
353  09/05/15       Leicester     Southampton     2     0 2015-05-09
354  09/05/15       Newcastle       West Brom     1     1 2015-05-09
355  09/05/15           Stoke       Tottenham     3     0 2015-05-09
356  10/05/15         Chelsea       Liverpool     1     1 2015-05-10
357  10/05/15        Man City             QPR     6     0 2015-05-10
358  11/05/15         Arsenal         Swansea     0     1 2015-05-11
359  16/05/15         Burnley           Stoke     0     0 2015-05-16
360  16/05/15       Liverpool  Crystal Palace     1     3 2015-05-16
361  16/05/15             QPR       Newcastle     2     1 2015-05-16
362  16/05/15     Southampton     Aston Villa     6     1 2015-05-16
363  16/05/15      Sunderland       Leicester     0     0 2015-05-16
364  16/05/15       Tottenham            Hull     2     0 2015-05-16
365  16/05/15        West Ham         Everton     1     2 2015-05-16
366  17/05/15      Man United         Arsenal     1     1 2015-05-17
367  17/05/15         Swansea        Man City     2     4 2015-05-17
368  18/05/15       West Brom         Chelsea     3     0 2015-05-18
369  20/05/15         Arsenal      Sunderland     0     0 2015-05-20
370  24/05/15         Arsenal       West Brom     4     1 2015-05-24
371  24/05/15     Aston Villa         Burnley     0     1 2015-05-24
372  24/05/15         Chelsea      Sunderland     3     1 2015-05-24
373  24/05/15  Crystal Palace         Swansea     1     0 2015-05-24
374  24/05/15         Everton       Tottenham     0     1 2015-05-24
375  24/05/15            Hull      Man United     0     0 2015-05-24
376  24/05/15       Leicester             QPR     5     1 2015-05-24
377  24/05/15        Man City     Southampton     2     0 2015-05-24
378  24/05/15       Newcastle        West Ham     2     0 2015-05-24
379  24/05/15           Stoke       Liverpool     6     1 2015-05-24

In [9]:
import datetime
#today = datetime.datetime.now().strftime("%Y-%m-%d")
today = datetime.datetime.now()
df['Now'] = today

def delta_time(times) :
    now, date = times
    A = np.datetime64(date)
    B = np.datetime64(now)
    C = (B-A)/(60*60*24*10**6)
    return C.astype(int)

df['DaysSince'] = df[['Now', 'Date']].apply(delta_time, axis=1)

#df = df[['DaysSince', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG']]

#results_list = df.as_matrix()

#results_list

ValueError: ('Error parsing datetime string "16/08/14" at position 2', u'occurred at index 0')

In [ ]:
df.tail(50)

In [ ]:
random.random()

In [ ]:
ls

In [11]:
df_15 = pd.read_csv('E0.csv')

In [12]:
df_15.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,08/08/15,Bournemouth,Aston Villa,0,1,A,0,0,D,...,1.79,26,-0.5,1.98,1.93,1.99,1.92,1.82,3.88,4.70
1,E0,08/08/15,Chelsea,Swansea,2,2,D,2,1,H,...,1.99,27,-1.5,2.24,2.16,1.80,1.73,1.37,5.04,10.88
2,E0,08/08/15,Everton,Watford,2,2,D,0,1,A,...,1.96,26,-1.0,2.28,2.18,1.76,1.71,1.75,3.76,5.44
3,E0,08/08/15,Leicester,Sunderland,4,2,H,3,0,H,...,1.67,26,-0.5,2.00,1.95,1.96,1.90,1.79,3.74,5.10
4,E0,08/08/15,Man United,Tottenham,1,0,H,1,0,H,...,2.01,26,-1.0,2.20,2.09,1.82,1.78,1.64,4.07,6.04

In [22]:
X = df_15.HomeTeam.value_counts()
X.sort_index()

Arsenal           19
Aston Villa       19
Bournemouth       19
Chelsea           19
Crystal Palace    19
Everton           19
Leicester         19
Liverpool         19
Man City          19
Man United        19
Newcastle         19
Norwich           19
Southampton       19
Stoke             19
Sunderland        19
Swansea           19
Tottenham         19
Watford           19
West Brom         19
West Ham          19
dtype: int64